<%
	for(var i = 0; i < data.length; i++) {
		var vo = data[i]; 
%>

		<tr>
			<td><%=vo.no%></td>
			<td><%=vo.name%></td>
			<td><%=vo.count%></td>
			<td><%=vo.description%></td>
			<td>
			<% if(vo.count == 0){%>
			<a href="" data-no='<%=vo.no%>'><img src="<%=contextpath%>/assets/images/delete.jpg"></a>
			<%
			}
			%>
			</td>
<%
	}
%>